@import "tailwindcss";

/* Menambahkan custom color untuk brand Bengkel Abimanyu */
@theme {
  --color-brand-light: #fef2f2;
  --color-brand: #03AED2;
  --color-brand-dark: #F45B26;
}

/* Memastikan scroll smooth untuk navigasi halaman */
html {
  scroll-behavior: smooth;
}